spring:
  config:
    activate:
      on-profile: dev

server:
  port: 8080
  error:
    include-message: always
    include-binding-errors: always

logging:
  level:
    root: INFO
    org.springframework.web: INFO
    com.aceboot: DEBUG
  file:
    name: logs/ace-boot-dev.log
  pattern:
    console: "%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%thread] %logger{36} - %msg%n"
